<form action="" id="new-todo-form">

   <div class="form-group">
      <label for="title">Title</label>
      {{input name="title" type="text" class="form-control" value=title placeholder="Add todo..."}}
   </div>

   <div class="form-group">
      <label for="date">Due Date</label>
      {{input name="date" type="date" class="form-control" value=date }}
   </div>

   <div class="form-group">
      <label for="body">Body</label>
      {{textarea name="body" class="form-control" value=body placeholder="Todo body..."}}
   </div>

   <button {{action "addToDo"}} class="btn btn-primary">Submit</button>

   {{#link-to 'todos' class="btn btn-default"}} Close {{/link-to}}
</form>