<h1 class="text-center">Create a TodoList!</h1>
<h4 class="text-center">This application will help you organize your life. Click below to get started.</h4>
<p class="text-center">
   {{#link-to 'todos' class="btn btn-success"}} Create your First Todo {{/link-to}}
</p>